/*
  Variables 
*/

:root {
	--primary-color  : #0A6579;
	--secondary-color: #F99E15;
	--tertiary-color : #484848;
	--fourth-color   : #f5f5f5;
	--white-color    : #ffffff;
	--black-color    : #000000;
}